# Ignore experiment results
Results/*
# Dont ignore paper results
!Results/paper_results.csv

# Ignore generated instances
Instances/*

# Ignore Python cache directories
__pycache__/

# Ignore Reference files 
References/
# !References/README.md
# !References/sn-article.tex

# Ignore test files
test_*.py